@import url('login.css');

h2 {
    background: linear-gradient(135deg, #6f42c1, #a370f0);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
}

button {
    margin-top: 15px;
    background-color: #6f42c1;
}

button:hover {
    background-color: #5a32a3;
}
